{% extends "/admin/master_admin.html.twig" %}

{% block stylesheet %}<link rel="stylesheet" href="/css/style.css" />{% endblock stylesheet%}

{% block title %}
    Update User Account
{% endblock title %}

{% block content %}
    <div class="py-5 container">
        <div class="row">
            <div class="col-md-12">
                <div class="contact-info">
                        <h4>Delete the account of user below.</h4><br>
                </div>
            </div>
            <form method="POST" class="col-md-9" read-only>

                {% if errors %}
                    {% for e in errors %}
                        <p class="form-control is-invalid text-white bg-danger">{{ e }}</p>
                    {% endfor %}
                {% endif %}
                <div class="form-row" >
                    <div class="col-md-6 mb-3">
                        <label for="inputFirstname">First Name</label>
                        <input name="firstName" type="text" class="form-control" id="inputFirstname" placeholder="First name" value="{{ user.firstName }}" readonly required>
                    </div>
                    <div class="col-md-6 mb-3" >
                        <label for="inputLastname">Last name</label>
                        <input name="lastName" type="text" class="form-control" id="inputLastname" placeholder="Last name" value="{{ user.lastName }}" readonly required>
                    </div>

                    <div class="col-md-6 mb-3">
                        <label for="inputEmail">Email Address</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputEmail">@</span>
                            </div>
                            <input name="email" type="email" class="form-control" id="validationServerEmail" placeholder="Email Address" aria-describedby="inputGroupPrepend3" value="{{ user.email }}" readonly required>
                        </div>
                    </div>

                    <div class="col-md-6 mb-3">
                        <label for="Phone">Phone Number</label>
                        <input name="phone" type="tel" class="form-control" id="Phone" placeholder="***-***-****" value="{{ user.phone }}" readonly required>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="inputUsername">Username</label>
                        <input name="userName" type="text" class="form-control" id="inputUsername" placeholder="User Name" value="{{ user.userName }}" readonly required>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-12 mb-3">
                        <label for="inputAddress">Address</label>
                        <input name="street" type="text" class="form-control" id="inputAddress" placeholder="1234 Main St" value="{{ user.street }}" readonly required>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="inputCity">City</label>
                        <input name="city" type="text" class="form-control" id="inputCity" placeholder="City" value="{{ user.city }}" readonly required>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="inputProvince">Province</label>
                        <input name="province" type="text" class="form-control" id="inputProvince" placeholder="Province" value="{{ user.province }}" readonly required>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="inputPostalCode">Postal Code</label>
                        <input name="postCode" type="text" class="form-control" id="inputPostalCode" placeholder="A1B 2C3" value="{{ user.postalCode }}" readonly required>
                    </div>
                </div>
                <p class="my-2 form-control is-invalid text-white bg-danger">Confirm delete?</p>
                <button class="btn btn-primary" type="submit">Delete</button>
                <a href="/admin/users/list" class="my-2 mx-4 btn btn-primary " role="button" >Cancel</a>
            </form>
        </div>
    </div>

{% endblock content %}