{% extends "/admin/master_admin.html.twig" %}

{% block stylesheet %}<link rel="stylesheet" href="/css/style.css" />{% endblock stylesheet%}

{% block title %}
    Update User Account
{% endblock title %}

{% block content %}
    <div class="py-5 container">
        <div class="row">
            <div class="col-md-12">
                <div class="contact-info">
                        <h4>Please update user's profile.</h4><br>
                </div>
            </div>
            <form method="POST" class="col-md-9" read-only>
                
                {% if errors %}
                    {% for e in errors %}
                        <p class="form-control is-invalid text-white bg-danger">{{ e }}</p>
                    {% endfor %}
                {% endif %}
                <div class="form-row" >
                    <div class="col-md-6 mb-3">
                        <label for="inputFirstname">First Name</label>
                        <input name="firstName" type="text" class="form-control" id="inputFirstname" placeholder="First name" value="{{ user.firstName }}" required>
                    </div>
                    <div class="col-md-6 mb-3" >
                        <label for="inputLastname">Last name</label>
                        <input name="lastName" type="text" class="form-control" id="inputLastname" placeholder="Last name" value="{{ user.lastName }}" required>
                    </div>
                    
                    <div class="col-md-6 mb-3">
                        <label for="inputEmail">Email Address</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputEmail">@</span>
                            </div>
                            <input name="email" type="email" class="form-control" id="validationServerEmail" placeholder="Email Address" aria-describedby="inputGroupPrepend3" value="{{ user.email }}" required>
                        </div>
                    </div>

                    <div class="col-md-6 mb-3">
                        <label for="Phone">Phone Number</label>
                        <input name="phone" type="tel" class="form-control" id="Phone" placeholder="***-***-****" value="{{ user.phone }}" required>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="inputUsername">Username</label>
                        <input name="userName" type="text" class="form-control" id="inputUsername" placeholder="User Name" value="{{ user.userName }}" required>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="inputPassword">Password</label>
                        <input name="pass1" type="password" class="form-control" id="inputPassword" placeholder="Password" required>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="confirmPassword">Confirm Password</label>
                        <input name="pass2" type="password" class="form-control" id="confirmPassword" placeholder="Password" required>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-12 mb-3">
                        <label for="inputAddress">Address (Street number and name)</label>
                        <input name="street" type="text" class="form-control" id="inputAddress" placeholder="1234 Main St" value="{{ user.street }}" required>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="inputCity">City</label>
                        <input name="city" type="text" class="form-control" id="inputCity" placeholder="City" value="{{ user.city }}" required>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="inputProvince">Province</label>
                        <select name="province" id="inputProvince" class="form-control" required>
                            <option selected>Choose...</option>
                            <option value="AB" {% if user.province == 'AB' %} selected="selected" {% endif %}>AB</option>
                            <option value="BC" {% if user.province == 'BC' %} selected="selected"{% endif %}>BC</option>
                            <option value="MB" {% if user.province == 'MB' %} selected="selected"{% endif %}>MB</option>
                            <option value="NB" {% if user.province == 'NB' %} selected="selected"{% endif %}>NB</option>
                            <option value="NL" {% if user.province == 'NL' %} selected="selected"{% endif %}>NL</option>
                            <option value="NT" {% if user.province == 'NT' %} selected="selected"{% endif %}>NT</option>
                            <option value="NS" {% if user.province == 'NS' %} selected="selected"{% endif %}>NS</option>
                            <option value="NU" {% if user.province == 'NU' %} selected="selected"{% endif %}>NU</option>
                            <option value="ON" {% if user.province == 'ON' %} selected="selected"{% endif %}>ON</option>
                            <option value="PE" {% if user.province == 'PE' %} selected="selected"{% endif %}>PE</option>
                            <option value="QC" {% if user.province == 'QC' %} selected="selected"{% endif %}>QC</option>
                            <option value="SK" {% if user.province == 'SK' %} selected="selected"{% endif %}>SK</option>
                            <option value="YT" {% if user.province == 'YT' %} selected="selected"{% endif %}>YT</option>
                        </select>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="inputPostalCode">Postal Code</label>
                        <input name="postCode" type="text" class="form-control" id="inputPostalCode" placeholder="A1B 2C3" value="{{ user.postalCode }}" required>
                    </div>
                </div>
                <button class="btn btn-primary" type="submit">Update User Profile</button>
            </form>
        </div>
    </div>

{% endblock content %}

{% block scripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(document).ready(function() {
            $err =  $('#err');
            $('input[name=email]').on("blur",function() {
                var email = $(this).val();

                email = encodeURIComponent(email);
                $err.load("/isemailtaken/" + email);

                if($err.is(':empty')){
                    $err.addClass("d-none");
                }else{
                    $err.removeClass("d-none");
                }
            });
            $('input[name=userName]').on("blur",function() {
                var userName = $(this).val();

                if(userName.length > 2){
                    $err.load("/isusernametaken/" + userName);

                    if($err.is(':empty')){
                        $err.addClass("d-none");
                    }else{
                        $err.removeClass("d-none");
                    }
                }
            });
        });
    </script>
{% endblock scripts %}
